 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content:hover{
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
footer{
  width: 100%;
  text-align: center;
  margin-top:100px;
  flex-wrap: wrap;
}
.content{
  backdrop-filter:blur(10px);
  border-radius: 20px;
  width:400px;
  height:255px;
  padding:10px;
  border: #333 1px solid;
  flex-wrap: wrap;
  box-shadow:5px 5px 15px 5px #000000;
}
button {
  display: block;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  cursor: pointer;
  border: #333 1px solid;
  border-radius: 6px;
  padding:2px 9px;
  background-color:rgb(180, 221, 207);
  color: #333;
  font-weight: 700;
}
button:hover{
  background-color: rgb(68, 170, 136);
  transition: 0.3s ease;
}
label {
  color: #333;
}
h1{
  text-align: center;
  color: #333;
}
input:focus{
  outline: none;
  border-color: #575151;
}
input{
  font-size: 16px;
  line-height: 1.5;
  padding: 2px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(./Image.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
form {
  display: flex;
  flex-direction: column;
}
